@font-face {
    font-family: Gilory;
    src: url("../fonts/Gilroy-Light.otf");
}

*{
    font-family: Gilory;
    margin: 0;
    padding: 0;
}

.linksDecor{
    color: white;
    text-decoration: none;    
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

body{
    background-color: gray;
    color:white;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    justify-content: flex-start;
}

.navbar a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.navbar a:first-child{
    margin-left: 100px;
}

.navbar__links{
    display: flex;
    flex: 1;
    justify-content: center;
}
.navbar__links * {
    align-self: center;
    margin: 0px 15px;
}

.navnar__loginform {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.navnar__loginform .btn {
    align-self: center;
    margin-right: 10px;
}



.container { 
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    font-size: larger;
}

section#welcome{
    background: rgba(0,0,0,0.7);
}
section#team {
    background: white;
    color: black;
}
section#gallery{
    background: rgba(0,0,0,0.7);

}
section#linkSection{
    background: white;
    color: black;;
}

.gallery__images{ 
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
}
.gallery__images img{
    width: 300px;
    height: 300px;
}


#github{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkSection__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: rgba(255, 255, 255,0.3); */
}

#team__table {
    border-spacing: 0;
    text-align: center;    
}
#team__table a{
    text-decoration: none;
    color: white;
}
#team__table th{
    border-style: solid;
    border-width: 1px;
    background: rgba(128, 128, 128,0.7);
    padding: 10px 20px;
}
#team__table td {
    border-style: solid;
}
#team__table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: rgba(0, 0, 0,0.7);
    padding: 10px;
}

#team__table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
#team__table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.gallery__container{
    width: 682px;
}
#gallerySlider img{
    width: 682px;
    height: 512px;
}

.team__gallery{
    display: flex;
    flex-direction: row;
}
.team__gallery div {
    margin-right: 10px;
}

@media screen and (max-width: 360px){
    section#welcome{

    }
}